@import "tailwindcss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out;
}

/* ถ้าอยากตั้งค่าสีเพิ่ม (Theme) ให้เขียนในนี้ได้เลย ไม่ต้องมีไฟล์ config แยก */
@theme {
  --color-noodle-soup: #f3f4f6;
  --font-poppins: "Poppins", sans-serif;
}